@model Otel.Entitiy.Concrete.Booking

@{
    Layout = "_Layout";
}


    <div class="card">
        <div class="card-header">
            <h3>Edit Product</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">               
                <div class="mb-3">
                    <label asp-for="@Model.CheckIn" class="form-label">Enter Name</label>
                    <input asp-for="@Model.CheckIn" class="form-control">
                    <span asp-validation-for="@Model.CheckIn" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.CheckOut" class="form-label">Enter Brand</label>
                <input asp-for="@Model.CheckOut" class="form-control">
                <span asp-validation-for="@Model.CheckOut" class="text-danger"></span>
                </div>
                <div class="mb-3">
                        <label asp-for="@Model.Room" class="form-label">Select Room</label>
                    <select asp-for="@Model.RoomId" class="form-control" asp-items="@ViewBag.Rooms">
                        <option value="">Select</option>
                    </select>
                <span asp-validation-for="@Model.RoomId" class="text-danger"></span>
            </div> <div class="mb-3">
                <label asp-for="@Model.Hotel" class="form-label">Select Hotel</label>
                <select asp-for="@Model.HotelId" class="form-control" asp-items="@ViewBag.Hotels">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="@Model.HotelId" class="text-danger"></span>
            </div><div class="mb-3">
                <label asp-for="@Model.User" class="form-label">Select User</label>
                <select asp-for="@Model.Id" class="form-control" asp-items="@ViewBag.Users">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="@Model.Id" class="text-danger"></span>
            </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-success">Reset</button>
                </div>
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </form>
        </div>
    </div>



