@model IList<Booking>
﻿@{
    Layout = "_Layout";
}


<h1>Bookings</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">CheckIn</th>
            <th scope="col">CheckOut</th>
            <th scope="col">RoomId</th>
            <th scope="col">AppUserId</th>
            <th scope="col">Düzenleme</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@Model[i].Id</th>
                <td>@Model[i].CheckIn</td>
                <td>@Model[i].CheckOut</td>
                <td>@Model[i].RoomId</td>
                <td>@Model[i].AppUserId</td>
                <td>
                    <a class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" asp-action="Edit" asp-controller="Booking" asp-area="AdminArea" asp-route-id="@Model[i].Id">Düzenle</a>
                    <a class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" asp-action="Edit" asp-controller="Booking" asp-area="AdminArea" asp-route-id="@Model[i].Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

