@model Otel.Entitiy.Concrete.Hotel

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostaCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostaCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gsm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gsm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
